body {
  height: 100vh;
}

.clock-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3c3c6c;
}

#clock {
  font-size: clamp(2rem, calc(1rem + 6vw), 10rem);
  width: 100%;
  margin: 8% auto;
  text-align: center;
  color: #ffffff;
  text-shadow: #00ffff 0 0 30px;
}

footer {
  margin-top: 0;
}

main {
  background-color: #3c3c6c;
  padding: 0;
  width: 100%;
  max-width: none;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  box-shadow: none;
  border-radius: 0;
  height: 100%;
}
