body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: auto;
    margin-bottom: 20px;
}


h1 {
    font-size: 20px;
}

select, input, button {
    width: 100%;  /* 全て同じ幅 */
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* 幅を内側に計算 */
}

button {
    background: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}
p.description {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
}

button:hover {
    background: #0056b3;
}

p {
    font-size: 18px;
    font-weight: bold;
}
